.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
}
.title h1{
  font-family: monospace;
  font-size: 3rem;
  position: absolute;
  top: 10px;
  left: 50px;
  position: fixed;
  cursor: pointer;
}
.title h1:hover {
  color: red;
  transform: scale(1.2);
}
table{
  margin: 30px 0 30px;
}
table td{
  border-bottom: 1px solid black;
  padding: 20px;
  cursor: pointer;
}
table td:hover{
  background-color: rgba(0,0,0,0.2);
}
table tr:nth-child(odd){
  background-color: rgb(181, 218, 255);
}